<span class="featuredTitle pl-3">Featured Action Movies:</span>
<hr class="redhr" />
<div class="row d-flex justify-content-center my-3">
  <app-product-card
    *ngFor="let movies of actionMovies$ | async | filterFive"
    [product]="movies"
  ></app-product-card>
</div>
<hr class="redhr" />

<span class="featuredTitle pl-3">All Action Movies:</span>
<div class="row d-flex justify-content-center mb-2">
  <div class="col-1">
    <select [(ngModel)]="filterKey" class="form-control">
      <option *ngFor="let options of movieForFilterKeys" [value]="options.key">
        {{ options.title }}
      </option>
    </select>
  </div>
  <div class="col-3">
    <input
      [(ngModel)]="phrase"
      type="text"
      class="form-control"
      placeholder="Search movie by title, price or quantity..."
    />
  </div>
</div>

<div class="row d-flex justify-content-center">
  <app-product-card
    *ngFor="
      let movies of actionMovies$ | async | universalsearch: filterKey:phrase
    "
    [product]="movies"
  ></app-product-card>
</div>
