<div class="row">
  <div class="col-4">
    <button [routerLink]="['/newproduct']" class="btn btn-success">
      Add movie
    </button>
  </div>
  <div class="col-3">
    <select [(ngModel)]="filterKey" class="form-control">
      <option *ngFor="let options of movieForFilterKeys" [value]="options.key">
        {{ options.title }}
      </option>
    </select>
  </div>
  <div class="col-4 mb-5">
    <input [(ngModel)]="phrase" type="text" class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <th>
          <button (click)="getSortProp('id')" class="btn btn-secondary">
            ID <i class="fa fa-sort"></i>
          </button>
        </th>
        <th>
          <button (click)="getSortProp('name')" class="btn btn-secondary">
            Name <i class="fa fa-sort"></i>
          </button>
        </th>
        <th>
          <button (click)="getSortProp('catId')" class="btn btn-secondary">
            Category <i class="fa fa-sort"></i>
          </button>
        </th>
        <th>
          <button
            (click)="getSortProp('description')"
            class="btn btn-secondary"
          >
            Description <i class="fa fa-sort"></i>
          </button>
        </th>
        <th>
          <button (click)="getSortProp('price')" class="btn btn-secondary">
            Price <i class="fa fa-sort"></i>
          </button>
        </th>
        <th>
          <button (click)="getSortProp('stock')" class="btn btn-secondary">
            Stock <i class="fa fa-sort"></i>
          </button>
        </th>
        <th>
          <button (click)="getSortProp('featured')" class="btn btn-secondary">
            Featured <i class="fa fa-sort"></i>
          </button>
        </th>
        <th>
          <button (click)="getSortProp('active')" class="btn btn-secondary">
            Active <i class="fa fa-sort"></i>
          </button>
        </th>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let product of productList$
              | async
              | universalsearch: filterKey:phrase
              | universalpipe: fieldName:direction
          "
        >
          <td>{{ product.id }}</td>
          <td>
            <input
              [(ngModel)]="product.name"
              type="text"
              class="form-control"
              required
              pattern="[a-zA-Z0-9-\.]{1,}"
              [disabled]="!inProgress"
            />
          </td>
          <td>
            <select
              [(ngModel)]="product.catId"
              type="text"
              class="form-control"
              required
              [disabled]="!inProgress"
            >
              <option *ngFor="let cat of catList" [value]="cat.key">
                {{ cat.title }}
              </option>
            </select>
          </td>
          <td>
            <input
              [(ngModel)]="product.description"
              type="text"
              class="form-control"
              [disabled]="!inProgress"
            />
          </td>
          <td>
            <input
              [(ngModel)]="product.price"
              type="text"
              class="form-control"
              required
              pattern="[0-9]{1,4}"
              [disabled]="!inProgress"
            />
          </td>
          <td>
            <input
              [(ngModel)]="product.stock"
              type="text"
              class="form-control"
              required
              pattern="[0-9]{1,4}"
              [disabled]="!inProgress"
            />
          </td>
          <td>
            <select
              [(ngModel)]="product.featured"
              type="text"
              class="form-control"
              required
              pattern="true|false"
              [disabled]="!inProgress"
            >
              <option>true</option>
              <option>false</option>
            </select>
          </td>
          <td>
            <select
              [(ngModel)]="product.active"
              type="text"
              class="form-control"
              required
              pattern="true|false"
              [disabled]="!inProgress"
            >
              <option>true</option>
              <option>false</option>
            </select>
          </td>
          <td>
            <div *ngIf="!inProgress" class="btn-group">
              <button
                (click)="editBtn(product)"
                (click)="inProgress = !inProgress"
                class="btn btn-info fa fa-pencil"
              ></button>
              <button
                (click)="deleteBtn(product)"
                class="btn btn-danger fa fa-trash"
              ></button>
            </div>
            <div *ngIf="inProgress" class="btn-group">
              <button class="btn btn-info fa fa-floppy-o"></button>
              <button
                (click)="inProgress = !inProgress"
                class="btn btn-danger fa fa-times"
              ></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="row">
  <div class="col-6 offset-3">
    <form action="">
      <div class="form-group">
        <label for="">Name</label>
        <input
          name="name"
          [(ngModel)]="product.name"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Price </label>
        <input [(ngModel)]="product.price" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="">Stock</label>
        <input [(ngModel)]="product.stock" type="text" class="form-control" />
      </div>
      <button class="btn btn-success">Update</button>
    </form>
  </div>
</div> -->
