<div class="container-fluid" style="background-color: rgba(0, 132, 134, 1)">
  <div class="row">
    <div class="col-5 d-flex justify-content-center align-items-center">
      <img
        src="../../../assets/images/kisspng-photographic-film-cinema-movie-projector-camera-5a86752a84ca25.6592369515187612585439.png"
        alt=""
        class="w-75 py-3"
      />
    </div>
    <div
      class="col-7 w-100 d-flex flex-column justify-content-center align-items-center"
    >
      <p class="brand">BroCode's Movie Library</p>
      <p class="retro">GET THE BEST MOVIES ONLINE!</p>
    </div>
  </div>
</div>

<span class="featuredTitle pl-3">Featured Movies:</span>
<div class="row d-flex justify-content-center my-3">
  <div class="featuredContainer d-flex">
    <app-product-card
      *ngFor="let movie of movieList$ | async | filterFive"
      [product]="movie"
    ></app-product-card>
  </div>
</div>

<span class="featuredTitle pl-3">Discounted Movies:</span>
<div class="row d-flex justify-content-center my-3">
  <div class="featuredContainer d-flex">
    <app-product-card
      *ngFor="let movie of movieList$ | async | filterFive"
      [product]="movie"
    ></app-product-card>
  </div>
</div>
