<span class="featuredTitle pl-3">Featured Thrillers:</span>
<div class="row d-flex justify-content-center my-3">
  <div class="featuredContainer d-flex">
    <app-product-card
      *ngFor="let movies of thrillerMovies$ | async | filterFive"
      [product]="movies"
    ></app-product-card>
  </div>
</div>

<span class="featuredTitle pl-3">All Thrillers:</span>
<div class="row d-flex justify-content-center">
  <app-product-card
    *ngFor="let movies of thrillerMovies$ | async"
    [product]="movies"
  ></app-product-card>
</div>
